<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <header>
    {% block pagename %}
    {% endblock %}
  </header>
  <nav>
    {% block navigation %}
       <ul>
          <li><a href="http://127.0.0.1:8000">Главная</a></li>
          <li><a href="http://127.0.0.1:8000/games">Магазин</a></li>
          <li><a href="http://127.0.0.1:8000/cart">Корзина</a></li>
       </ul>
   {%endblock%}
  </nav>
  <main>
    {% block content %}

    {%endblock%}
  </main>

</body>
</html>
